[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pydantic = "*"
scrapy-fake-useragent = "*"
pyquery = "*"
ckip-transformers = "*"

[dev-packages]

[requires]
python_version = "3.7"
